@import 'src/styles/mixins';
@import 'src/styles/variables';

.partners {
  position: relative;
  z-index: 1;
  margin-top: 150px;
  padding-right: 100px;

  @include b(tablet) {
    margin-top: 60px;
    padding: 10px;
  }

  .title {
    @include b(tablet) {
      @include flex(row, flex-start, center);
    }
  }

  .list {
    margin-top: 40px;
    @include grid(repeat(6, 1fr), repeat(3, 1fr), 20px);
    justify-items: center;

    @include b(desktop) {
      @include grid(repeat(5, 1fr), repeat(auto-fill, 1fr), 20px);
    }

    @include b(1150) {
      @include grid(repeat(4, 1fr), repeat(auto-fill, 1fr), 20px);
    }

    @include b(645) {
      @include grid(repeat(3, 1fr), repeat(auto-fill, 1fr), 20px);
    }

    @include b(488) {
      @include grid(repeat(2, 1fr), repeat(auto-fill, 1fr), 20px);
    }

    &_item {
      width: 100%;
      min-height: 140px;
      @include flex(row, center, center);
      border: 1px solid $grey2;

      @include b(tablet) {
        height: 80px;

        img {
          width: 80%;
        }
      }
    }
  }
}

.reveal_button{
  margin: 10px auto;
}