@import '/src/styles/variables';
@import '/src/styles/mixins';

.inputWrapper {
  position: relative;
  background: $white;
  border-bottom: 1px solid $grey;
}

.input {
  border-radius: 0;
  padding: 17px 20px;
  border: none;
  color: $black;
  transition: 0.4s ease;
  width: 100%;
  font-family: inherit;
  resize: none;
  @include text-control(24px, 30px);
  &::placeholder{
    color: $grey;
  }
  @include b(mobile){
    @include text-control(18px, 22px);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  &:disabled {
    opacity: 0.6;
  }

  &.withIcon {
    padding: 17px 20px 17px 48px;
  }

  &.gray {
    background: $grey;
  }
  &.white {
    background: #fff;
  }
}

.labelWrapper {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  @include flex(row, space-between, center, wrap);
  margin-bottom: 7px;
  @include b(530) {
    gap: 10px;
  }
}
.label,
.labelEnd {
  @include text-control(24px, 30px);
}

.startIcon {
  transition: 0.4s ease;
  position: absolute;
  bottom: 4px;
  left: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  font-size: 24px;
  text-align: center;
  transform-origin: center;
  @include flex(row, center, center);

  svg {
    width: 24px;
    height: 24px;
    color: black;
  }
}

textarea {
  &.input{
    min-height: 180px;
  }
  @include b(mobile){
    &.input{
      min-height: 84px;
    }
  }
}