@import 'src/styles/variables';
@import 'src/styles/mixins';

.packages {
  position: relative;
  margin-right: -15px;
  padding: 80px 0 80px 40px;
  background: $bgGradient;

  @include b(tablet) {
    margin: 60px -20px 0;
    padding: 60px 20px 0;
  }

  .title {
    @include b(tablet) {
      @include flex(row, flex-start, center, no-wrap);
    }

    &_second_row {
      margin-top: 20px;
      margin-right: 138px;
      text-align: right;

      @include b(tablet) {
        margin: 0;
        text-align: left;
      }

      span {
        color: $red;
      }
    }
  }

  .bg_image {
    position: absolute;
    right: 0;
    z-index: 0;

    @include b(tablet) {
      top: 170px;
      width: 300px;
    }
  }

  .subtitle {
    position: relative;
    z-index: 2;
    margin-top: 80px;
    width: 500px;

    @include b(tablet) {
      margin-top: 20px;
      width: 100%;
    }
  }

  .scrollbar {
    &_header {
      margin: 60px 0 20px;
    }

    &_nav {
      height: min-content;
      background: transparent;
    }

    &_container {
      width: 1300px;
      min-height: 762px;
      overflow-x: hidden;

      @include b(desktop) {
        width: calc(100vw - 140px);
      }

      @include b(tablet) {
        width: 100vw;
        min-height: 518px;
        overflow-x: scroll;
      }
    }

    &_scroll {
      width: 1461px;
      @include grid(repeat(4, 1fr), 1fr, 0);

      .list_item + .list_item {
        border-left: 1px solid $lightGrey;
      }

      @include b(tablet) {
        width: 1120px;
      }
    }
  }

  .list_item {
    position: relative;
    padding: 41px;
    width: 365px;
    min-height: 100%;
    background: $white;

    @include b(tablet) {
      padding: 15px;
      width: 280px;
    }

    &:hover, &:active {
      background: $bgPacksSliderHover;
    }

    &_subtitle {
      margin-top: 8px;
      padding-bottom: 24px;
      border-bottom: 1px solid $lightGrey;
      color: $red;
    }

    &_content {
      margin: 32px 0 120px;
      height: 100%;
      @include grid(1fr, repeat(7, 1fr), 32px);
    }

    .get_started_button {
      position: absolute;
      bottom: 41px;
      width: 283px;

      @include b(tablet) {
        bottom: 15px;
        margin-top: 69px;
        width: 250px;
      }

      button {
        width: 100%;
        margin: 78px auto 0;
      }
    }
  }
}

.links {
  position: relative;

  &_text {
    margin-top: 40px;
    width: 700px;
    font-size: 48px;
    line-height: 58px;
    color: $red;

    @include b(tablet) {
      width: 100%;
      font-size: 28px;
      line-height: 34px;
    }
  }

  img {
    position: absolute;
    z-index: 0;
    top: -100px;
    right: -15px;

    @include b(tablet) {
      width: 370px;
      top: 100px;
      right: -120px;
    }
  }
}
