@import "variables";

* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 6px;
    height: 2px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $grey;
    border: 3px solid $grey;
  }
  scrollbar-width: thin;
  scrollbar-color: $grey #161313;
}

body {
  margin: 0;
  font-family: 'Roobert', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $black;

  span,
  div {
    font-feature-settings: 'liga' off;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
