@import 'src/styles/mixins';
@import 'src/styles/variables';

.wrapper {
  margin-top: 150px;
  margin-right: -15px;
  padding: 80px 40px 60px;
  background: linear-gradient(239.9deg, #efefef 37.82%, #fefefe 89.77%), #d9d9d9;

  .content {
    .scrollbar_ {
      &container {
        margin-left: -40px;
        @include b(tablet) {
            margin-left: 0px;
        }
      }
    }
  }

  @include b(tablet) {
    margin: 70px -20px 0;
    padding: 60px 20px 40px;
  }

  .title {
    margin-bottom: 60px;
    @include b(tablet) {
      margin-bottom: 20px;
      margin-left: 20px;
      font-weight: 400;
    }
  }

  .subtitle {
    margin-top: 40px;
    width: 710px;

    @include b(tablet) {
      width: unset;
      margin-top: 20px;
    }
  }

  .links {
    margin-top: 40px;
    @include flex(row, flex-start, center);
    gap: 107px;

    @include b(tablet) {
      flex-direction: column;
      gap: 20px;
    }

    .link {
      flex-grow: 0;

      @include b(tablet) {
        width: 100%;
      }

      button {
        padding: 0;
        gap: 10px;
        text-decoration: none;

        @include b(tablet) {
          min-width: 100%;
          justify-content: space-between;
        }

        &:hover,
        &:active {
          background: transparent;

          h5 {
            color: $red;
          }

          .link_logo {
            background: $red;
          }

          .arrow {
            path {
              stroke: $red;
            }
          }
        }
      }

      &_content {
        @include flex(row, flex-start, center, no-wrap);
        gap: 10px;
      }

      &_logo {
        width: 100px;
        height: 100px;
        @include flex(row, center, center);
        background: $black;
        border-radius: 50%;

        @include b(tablet) {
          width: 48px;
          height: 48px;
        }

        .telegram {
          width: 40px;
          height: 40px;

          @include b(tablet) {
            width: 19px;
            height: 19px;
          }
        }

        .whatsapp {
          width: 44px;
          height: 44px;

          @include b(tablet) {
            width: 21px;
            height: 21px;
          }
        }
      }

      .arrow {
        @include b(tablet) {
          width: 42px;
        }
      }
    }
  }
}

.red {
  color: $red;
}
